* {
    user-select: none;
}

.back-layout .ant-menu-item {
  height: 60px !important;
  line-height: 60px !important;
  font-size: 18px !important;
}
.back-layout .ant-layout-header {
    height: 72px !important;
}
.back-layout .ant-menu-item-icon {
    font-size: 20px !important;
}